In [56]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)

In [57]:
#Read the data into a dataframe
df = pd.read_csv("goodreads.csv",header = None
                ,names = ["rating", 'review_count', 'isbn', 'booktype','author_url', 'year', 'genre_urls', 'dir','rating_count', 'name'])

#Examine the first few rows of the dataframe
df.head()

   rating review_count        isbn         booktype                                         author_url    year                                         genre_urls                                                dir rating_count                                               name
0    4.40       136455  0439023483  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2008.0  /genres/young-adult|/genres/science-fiction|/g...                dir01/2767052-the-hunger-games.html      2958974            The Hunger Games (The Hunger Games, #1)
1    4.41        16648  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....  2003.0  /genres/fantasy|/genres/young-adult|/genres/fi...  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...      1284478  Harry Potter and the Order of the Phoenix (Har...
2    3.56        85746  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...  2005.0  /genres/young-adult|/genres/fantasy|/genres/ro...                          dir01/41865.Twilight.html      2579564                            Twilight (Twilight, #1)
3    4.23        47906  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...  1960.0  /genres/classics|/genres/fiction|/genres/histo...              dir01/2657.To_Kill_a_Mockingbird.html      2078123                              To Kill a Mockingbird
4    4.23        34772  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...  1813.0  /genres/classics|/genres/fiction|/genres/roman...                dir01/1885.Pride_and_Prejudice.html      1388992                                Pride and Prejudice

In [58]:
#Change the index to start from 1
df.index = range(1, len(df) + 1)
#Examine the first few rows of the dataframe
df.head()
df.tail()

      rating review_count        isbn         booktype                                         author_url    year                                         genre_urls                                                dir rating_count                                               name
5996    4.17         2226  0767913736  good_reads:book  https://www.goodreads.com/author/show/44565.Ca...  2005.0  /genres/history|/genres/non-fiction|/genres/bi...                dir60/78508.The_River_of_Doubt.html        16618                                 The River of Doubt
5997    3.99          775  1416909427  good_reads:book  https://www.goodreads.com/author/show/151371.J...  2006.0  /genres/young-adult|/genres/realistic-fiction|...                             dir60/259068.Shug.html         6179                                               Shug
5998    3.78          540  1620612321  good_reads:book  https://www.goodreads.com/author/show/5761314....  2012.0  /genres/contemporary|/genres/romance|/genres/y...                         dir60/13503247-flawed.html         2971                                             Flawed
5999    3.91          281         NaN  good_reads:book  https://www.goodreads.com/author/show/1201952....  2006.0  /genres/religion|/genres/islam|/genres/religio...                                 dir60/2750008.html         3083              Ø£Ø³Ø¹Ø¯ Ø§Ù
Ø±Ø£Ø© ÙÙ Ø§ÙØ¹Ø§ÙÙ

6000    4.35           61  0786929081  good_reads:book  https://www.goodreads.com/author/show/1023510....  2001.0  /genres/fiction|/genres/fantasy|/genres/magic|...  dir60/66677.Legacy_of_the_Drow_Collector_s_Edi...         3982  Legacy of the Drow Collector's Edition (Legacy...

In [59]:
#Examining the datatypes
df.dtypes

rating          float64
review_count     object
isbn             object
booktype         object
author_url       object
year            float64
genre_urls       object
dir              object
rating_count     object
name             object
dtype: object

In [60]:
#Typecasting of the datatypes that unmacthed with the corresponding data is necessary.Applying is in the below sections
#Examing the missing values
for column in df.columns:
    missing_value_count = df[column].isnull().sum()
    print(f"Column '{column}' has {missing_value_count} missing values.")

Column 'rating' has 2 missing values.
Column 'review_count' has 0 missing values.
Column 'isbn' has 475 missing values.
Column 'booktype' has 0 missing values.
Column 'author_url' has 0 missing values.
Column 'year' has 7 missing values.
Column 'genre_urls' has 62 missing values.
Column 'dir' has 0 missing values.
Column 'rating_count' has 0 missing values.
Column 'name' has 0 missing values.

In [61]:
for column in df.columns:    
    none_rows = df[df[column]== 'None']
none_rows

      rating review_count  isbn booktype author_url  year genre_urls                              dir rating_count  name
3644     NaN         None  None     None       None   NaN        NaN  dir37/9658936-harry-potter.html         None  None
5283     NaN         None  None     None       None   NaN        NaN     dir53/113138.The_Winner.html         None  None

In [62]:
indices_none_rows = none_rows.index
df = df.drop(indices_none_rows)

In [63]:
for column in df.columns:    
    na_rows = df[df[column]== 'inf']
na_rows

Empty DataFrame
Columns: [rating, review_count, isbn, booktype, author_url, year, genre_urls, dir, rating_count, name]
Index: []

In [64]:
#Examing the missing values
for column in df.columns:
    missing_value_count = df[column].isnull().sum()
    print(f"Column '{column}' has {missing_value_count} missing values.")

Column 'rating' has 0 missing values.
Column 'review_count' has 0 missing values.
Column 'isbn' has 475 missing values.
Column 'booktype' has 0 missing values.
Column 'author_url' has 0 missing values.
Column 'year' has 5 missing values.
Column 'genre_urls' has 60 missing values.
Column 'dir' has 0 missing values.
Column 'rating_count' has 0 missing values.
Column 'name' has 0 missing values.

In [65]:
null_years = df[df['year'].isnull()]
null_years_indices = null_years.index
df = df.drop(null_years_indices)

In [66]:
#Typecasting
df.review_count = df.review_count.astype(int)
df.rating_count = df.review_count.astype(int)
df.year = df.year.astype(int)

In [67]:
#Examing the missing values
for column in df.columns:
    missing_value_count = df[column].isnull().sum()
    print(f"Column '{column}' has {missing_value_count} missing values.")

Column 'rating' has 0 missing values.
Column 'review_count' has 0 missing values.
Column 'isbn' has 471 missing values.
Column 'booktype' has 0 missing values.
Column 'author_url' has 0 missing values.
Column 'year' has 0 missing values.
Column 'genre_urls' has 59 missing values.
Column 'dir' has 0 missing values.
Column 'rating_count' has 0 missing values.
Column 'name' has 0 missing values.

In [68]:
#Examining the datatypes
df.dtypes

rating          float64
review_count      int64
isbn             object
booktype         object
author_url       object
year              int64
genre_urls       object
dir              object
rating_count      int64
name             object
dtype: object

In [69]:
#Extracting real values from URLs :author_url
test_string=df.author_url[1]
test_string

'https://www.goodreads.com/author/show/153394.Suzanne_Collins'

In [70]:
test_string.split('/')[-1].split('.')[1].replace('_',' ')

'Suzanne Collins'

In [71]:
def extract_author(author_url):
    name_author = author_url.split('/')[-1].split('.')[1].replace('_',' ')
    return name_author

In [73]:
df['author_url'] = df.author_url.map(extract_author)

IndexError: list index out of range

In [75]:
df = df.rename(columns={'author_url': 'author'})
df.head()

   rating  review_count        isbn         booktype           author  year                                         genre_urls                                                dir  rating_count                                               name
1    4.40        136455  0439023483  good_reads:book  Suzanne Collins  2008  /genres/young-adult|/genres/science-fiction|/g...                dir01/2767052-the-hunger-games.html        136455            The Hunger Games (The Hunger Games, #1)
2    4.41         16648  0439358078  good_reads:book      J K Rowling  2003  /genres/fantasy|/genres/young-adult|/genres/fi...  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...         16648  Harry Potter and the Order of the Phoenix (Har...
3    3.56         85746  0316015849  good_reads:book  Stephenie Meyer  2005  /genres/young-adult|/genres/fantasy|/genres/ro...                          dir01/41865.Twilight.html         85746                            Twilight (Twilight, #1)
4    4.23         47906  0061120081  good_reads:book       Harper Lee  1960  /genres/classics|/genres/fiction|/genres/histo...              dir01/2657.To_Kill_a_Mockingbird.html         47906                              To Kill a Mockingbird
5    4.23         34772  0679783261  good_reads:book      Jane Austen  1813  /genres/classics|/genres/fiction|/genres/roman...                dir01/1885.Pride_and_Prejudice.html         34772                                Pride and Prejudice

In [77]:
#Extracting real values from URLs : genre_url
test_string=df.genre_urls[1]
test_string

'/genres/young-adult|/genres/science-fiction|/genres/dystopia|/genres/fantasy|/genres/science-fiction|/genres/romance|/genres/adventure|/genres/book-club|/genres/young-adult|/genres/teen|/genres/apocalyptic|/genres/post-apocalyptic|/genres/action'

In [79]:
genres=test_string.strip().split('|')
for e in genres:
    print(e.split('/')[-1])
    "|".join(genres)

young-adult
science-fiction
dystopia
fantasy
science-fiction
romance
adventure
book-club
young-adult
teen
apocalyptic
post-apocalyptic
action

In [90]:
def extract_genre(url):
    if pd.isnull(url):  
        return '' 
    genres = url.strip().split('|') 
    genres = [e.split('/')[-1] for e in genres]  
    return "|".join(genres)

In [91]:
df['genre_urls']=df.genre_urls.map(extract_genre)
df = df.rename(columns = {'genre_urls':'genres'})
df.head()

   rating  review_count        isbn         booktype           author  year                                             genres                                                dir  rating_count                                               name
1    4.40        136455  0439023483  good_reads:book  Suzanne Collins  2008  young-adult|science-fiction|dystopia|fantasy|s...                dir01/2767052-the-hunger-games.html        136455            The Hunger Games (The Hunger Games, #1)
2    4.41         16648  0439358078  good_reads:book      J K Rowling  2003  fantasy|young-adult|fiction|fantasy|magic|chil...  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...         16648  Harry Potter and the Order of the Phoenix (Har...
3    3.56         85746  0316015849  good_reads:book  Stephenie Meyer  2005  young-adult|fantasy|romance|paranormal|vampire...                          dir01/41865.Twilight.html         85746                            Twilight (Twilight, #1)
4    4.23         47906  0061120081  good_reads:book       Harper Lee  1960  classics|fiction|historical-fiction|academic|s...              dir01/2657.To_Kill_a_Mockingbird.html         47906                              To Kill a Mockingbird
5    4.23         34772  0679783261  good_reads:book      Jane Austen  1813  classics|fiction|romance|historical-fiction|li...                dir01/1885.Pride_and_Prejudice.html         34772                                Pride and Prejudice

In [92]:
df.to_csv("cleaned-goodreads.csv", index=False, header=True)